@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">This is my fist basic ASP.NET Core web app.</h2>
    <p>The actual server time is: @ViewData["TimeStamp"].</p>
</div>
